@model MoviesByGenreViewModel

@{
    ViewData["Title"] = $"Movies for the \"{Model.ActiveGenreName}\" Genre";
}

<a asp-controller="Movie" asp-action="GetAllMovies">All movies</a>
<span class="mx-1">|</span>
<a asp-controller="Movie" asp-action="GetAddMovieRequest">Add new movie</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Year</td>
                <td>
                    <a asp-controller="Movie" asp-action="GetEditMovieRequestById" asp-route-id="@movie.MovieId">Edit</a>
                    <span class="mx-1">|</span>
                    <a asp-controller="Movie" asp-action="GetDeleteRequestById" asp-route-id="@movie.MovieId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
