@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>See all the <a asp-controller="Movie" asp-action="GetAllMovies">movies</a>,</p>
    <p>or <a asp-controller="StreamCompany" asp-action="RegisterStreamingCompanyRequest">Register</a> as a streaming partner.</p>
</div>
